{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    //я не понимаю как я должен сокращать названия переменных...
    "object-shorthand": "off"
  }
}